@media screen and (max-width: 800px) {
  html {
    font-size: 3px;
  }

  @mixin center($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: center;
  }

  .header{
    &__submit{
      display: none;
    }
  }

  .main {
    .container {
      width: 61rem;
      grid-template-columns: 19rem 2rem 8.5rem 2rem 8.5rem 2rem 19rem;
      grid-template-rows: 20rem 4rem 30rem 2rem 50rem auto auto;

      .record{
        font-size: 2.5rem;

        &__hour{
          font-size: 2.5rem;
        }

        input{
          font-size: 5rem;
        }

        .option__item{
          font-size: 0.9rem;
          font-weight: 500;
          padding-left: 0rem;
        }
      }

      .today__number {
        grid-column: 1/2;
        grid-row: 1/2;
        @include center(column);
      }
      
      .month__number {
        grid-column: 3/6;
        grid-row: 1/2;
        @include center(column);
      }
      
      .total__number {
        grid-column: 7/8;
        grid-row: 1/2;
        @include center(column);
      }

      .month__report {
        grid-column: 1/8;
        grid-row: 3/4;
      }

      .languages__report {
        grid-column: 5/8;
        grid-row: 5/6;
      }

      .contents__report {
        grid-column: 1/4;
        grid-row: 5/6;
      }

      .date {
        grid-column: 1/8;
        grid-row: 6/7;
        text-align: center;
        // vertical-align: middle;
      }

      .sp__push{
        display: block;
        grid-column: 1/8;
        grid-row: 7/8;
        .push__button{
          height: 7rem;
          width: 60rem;
          font-size: 2.5rem;
          padding: 1rem;
          margin-bottom: 5rem;
          border-radius: 5rem;
        }
      }
    }
  }
}
